//- DATA :: START

-
  var dataObj = {
    navHeader: [
      {
        href: '#',
        icon: 'icon-nav-0',
        name: 'Podnoszenie mocy'
      },
      {
        href: '#',
        icon: 'icon-nav-0',
        name: 'Wydech'
      },
      {
        href: '#',
        icon: 'icon-nav-0',
        name: 'Wyglad'
      },
      {
        href: '#',
        icon: 'icon-nav-0',
        name: 'Zawieszenie'
      },
      {
        href: '#',
        icon: 'icon-nav-0',
        name: 'Detailing i folie'
      },
      {
        href: '#',
        icon: 'icon-nav-0',
        name: 'Wypożyczalnia'
      },
      {
        href: '#',
        icon: 'icon-nav-0',
        name: 'Serwis premium'
      },
      {
        href: '#',
        icon: 'icon-nav-1',
        name: 'Kontakt'
      }
    ],
    navFooter: [
      {
        href: '#',
        name: 'Strona główna'
      },
      {
        href: '#',
        name: 'FAQ'
      },
      {
        href: '#',
        name: 'O nas'
      },
      {
        href: '#',
        name: 'Regulamin'
      },
      {
        href: '#',
        name: 'Kontakt'
      }
    ],
    social: []
  };

//- DATA :: END