// SECTION article :: START

section#article.article
  .c-grid
    .article__wrapper
      .article__wrapper-left

        img(src="./img/img-article-main.png" srcset="./img/img-article-main@2x.png 2x" alt="" title="")

      .article__wrapper-right

        p.article__text!= "PowerControl po raz kolejny zwycięzcą testu magazynu EuroTuner"

        .article__btn-wrapper
          a.article__btn.c-btn(href="#" class="" title="")!= "Pobierz artykuł"

// SECTION article :: END