// SECTION order :: START

section#order.order
  .order__bg

  .c-grid
    .order__wrapper
      .order__wrapper-left
        img(src="./img/img-pedalbox-slider-3.png" srcset="./img/img-pedalbox-slider-3@2x.png 2x" alt="" title="")

      .order__wrapper-middle
        p!= "Zamów PowerControl w zestawie z modułem Pedalbox"
        span!= "a otrzymasz 10% rabatu do całego zamówienia"

      .order__wrapper-right
        a.order__btn.c-btn(href="#" class="" title="")!= "Poznaj Pedalbox"

// SECTION order :: END