// SECTION period :: START

section#period.period

  .c-grid

    .period__wrapper
      .period__wrapper-left

        img(src="./img/img-period-main.png" srcset="./img/img-period-main@2x.png 2x" alt="" title="")

      .period__wrapper-right

        h1.period__title!= "14 dniowy okres testowy"

        p.period__text!= "Pamiętaj, że mimo montażu wraz z pomiarami na hamowni nadal przysługuje Ci 14 dni na przetestowanie produktu. Jeśli uzyskany przyrost nie będzie zadowalający lub cokolwiek innego nie będzie przebiegać po Twojej myśli masz pełne prawo do zwrotu, zaś my zwrócimy Ci pełną kwotę poniesioną za produkt."

// SECTION period :: END