// COMMON :: START


// section
section {
  &.section {
    position: relative;
    @include fluid(min-height, 320px, 1920px, 431px, 640px);
    @include fluid(padding-top, 320px, 1920px, 50px, 147px);
  }
}
// section :: end


// bg
.section__bg {
  overflow: hidden;
  z-index: 0;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  @include fluid(height, 320px, 1920px, 431px, 581px);
  background-repeat: no-repeat;
  background-position: bottom center;
  @include respond(max-small) {
    top: 20px;
    background-position-x: 40%;

    .search-page & {
      display: none;
    }
  }
  @include respond(large) {
    top: 60px;
  }

  .pedalbox & {
    @include respond(max-extra-small) {
      top: 250px;
    }
  }

  .powercontrol & {
    @include fluid(height, 320px, 1920px, 731px, 731px);
    background-size: cover;

    @include respond(max-wide-medium) {
      top: 0;
    }
    @include respond(max-wide-small) {
      top: -25px;
    }
    @include respond(max-extra-large) {
      top: -50px;
    }
    @include respond(max-large) {
      top: -75px;
    }
    @include respond(max-small) {
      top: 25px;
    }
    @include respond(max-extra-small) {
      top: 5px;
    }
  }

  &--light {
    @include respond(wide-medium) {
      background-image: url('../img/bg.svg');
      background-size: cover;
    }

    @include respond(max-wide-small) {
      background-image: url('../img/img-bg.png');
    }
  }

  &--dark {
    @include respond(wide-medium) {
      background-image: url('../img/bg-main.svg');
      background-size: cover;

      .powercontrol & {
        background-image: url('../img/bg-main-1.svg');
      }
    }
    @include respond(max-wide-small) {
      background-image: url('../img/img-bg-main.png');
    }
  }
}
// bg :: end


// line
.line {
  width: 100%;
  max-width: 92%;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  background-color: rgba(#0a1723, 0.3);

  .search-page & {
    max-width: 1129px;
    height: 1px;
    margin-top: 150px;
    margin-bottom: 176px;
    @include respond(max-small) {
      margin-top: 100px;
      margin-bottom: 100px;
    }
    @include respond(max-extra-small) {
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
}
// line :: end


// social
.social {
  padding-left: 40px;
  padding-right: 40px;
  @include respond(max-large) {
    padding-right: 0;
  }
  @include respond(max-medium) {
    padding-left: 30px;
  }
  @include respond(max-small) {
    padding-left: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    @include respond(max-small) {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__item {
    padding-top: 5px;
    padding-bottom: 5px;
    @include respond(max-small) {
      padding: 0 5px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    background-color: #434c62;
    color: #ecf7ff;
    font-size: 18px;
    @include transition(background-color);
    @include respond(max-small) {
      background-color: #b0b6c6;
      color: $c-white;
    }

    &--fb {
      &:hover {
        background-color: #4267B2;
        @include transition(background-color);
      }
    }
    &--yb {
      &:hover {
        background-color: #FF0000;
        @include transition(background-color);
      }
    }
    &--in {
      &:hover {
        background-color: #E33A61;
        @include transition(background-color);
      }
    }
  }
}
// social :: end


// copyright
.copyright {
  display: flex;
  align-items: center;
  @include respond(max-small) {
    flex-direction: column-reverse;
  }

  p {
    color: #8d96ae;
    font-size: 12px;
    font-weight: 500;
    @include respond(max-small) {
      padding-top: 27px;
      text-align: center;
    }

    span {
      @include respond(max-small) {
        display: block;
      }
    }
  }

  > span {
    @include respond(max-small) {
      display: none;
    }
  }
}
// copyright :: end


// form
.c-form {
  &__group {
    display: flex;
    align-items: flex-start;

    &--select {
      @include respond(max-medium) {
        flex-wrap: wrap;
      }

      .c-form__group-col {
        width: 160px;
        margin-left: 6px;
        margin-right: 6px;
        @include respond(max-medium) {
          width: 100%;
          margin: 0;
          margin-bottom: 10px;
        }
        @include respond(max-extra-small) {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
          margin-bottom: 12px;
        }

        &:first-of-type {
          margin-left: 0;
        }
        &:last-of-type {
          margin-right: 0;
          @include respond(max-extra-small) {
            margin-bottom: 0;
          }
        }
      }
    }

    &--input {
      justify-content: space-between;
      @include respond(max-extra-small) {
        flex-wrap: wrap;
      }

      .c-form__group-col {
        width: 190px;
        margin-left: 5px;
        margin-right: 5px;
        @include respond(max-extra-small) {
          width: 100%;
          margin: 0;
        }

        .basket__data-cover--0 & {
          width: calc(50% - 10px);
          margin-left: 10px;
          margin-right: 10px;
          @include respond(max-extra-small) {
            width: 100%;
            margin: 0;
          }
        }

        .basket__data-cover--2 & {
          margin-left: 10px;
          margin-right: 10px;

          &-0 {
            width: calc(50% - 10px);
            @include respond(max-extra-small) {
              width: 100%;
              margin: 0;
            }
          }
          &-1,
          &-2 {
            width: calc(25% - 10px);
            @include respond(max-extra-small) {
              width: calc(50% - 10px);
              margin: 0;
            }
          }
        }

        .basket__data-cover--3 & {
          margin-left: 10px;
          margin-right: 10px;

          &-0,
          &-1 {
            width: calc(20% - 10px);
          }
          &-0 {
            @include respond(max-extra-small) {
              width: calc(35% - 10px);
              margin: 0;
            }
          }
          &-1 {
            @include respond(max-extra-small) {
              width: calc(65% - 10px);
              margin: 0;
            }
          }
          &-2 {
            width: calc(60% - 10px);
            @include respond(max-extra-small) {
              width: 100%;
              margin: 0;
            }
          }
        }

        &:first-of-type {
          margin-left: 0;
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    &-col {
      &-0 {}
      &-1 {}
      &-2 {}
    }
  }

  &__field {
    position: relative;

    &.is-focus {
      .c-form__input-wrapper,
      .c-form__textarea-wrapper {
        input,
        textarea {
          border-color: #0a1723;
          @include transition(border-color);
        }

        &:before {
          border-color: #8d96ae;
          @include transition(border-color);
        }
      }
    }

    &--btn {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__input,
  &__textarea {
    @include inputPlaceholder {
      color: #4d5964;
    }

    &-wrapper {
      position: relative;
      margin-bottom: 16px;

      &:before {
        z-index: 0;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border: 6px solid #e4eaef;
        background-color: #e4eaef;
        @include transition(border-color);
      }

      &:hover,
      &:active {
        input,
        textarea {
          border-color: #0a1723;
          @include transition(border-color);
        }

        &:before {
          border-color: #8d96ae;
          @include transition(border-color);
        }
      }
    }
  }

  &__input {
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 6px);
    padding: 0 20px;
    border-radius: 5px;
    border: 3px solid rgb(141, 150, 174);
    box-shadow: none;
    color: #4d5964;
    font-size: 16px;
    font-weight: 500;
    @include transition(border-color);

    &-wrapper {
      min-height: 62px;
      background-color: $c-white;
    }
  }

  &__textarea {
    outline: none;
    resize: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 6px);
    padding: 20px;
    border-radius: 5px;
    border: 3px solid rgb(141, 150, 174);
    box-shadow: none;
    color: #4d5964;
    font-size: 16px;
    font-weight: 500;
    @include transition(border-color);

    &-wrapper {
      min-height: 309px;
    }
  }

  &__select {
    overflow: hidden;
    height: 100%;
    min-height: 62px;
    border-radius: 5px;
    background-color: $c-white;
    @include respond(max-extra-small) {
      min-height: 36px;
    }

    &:hover {
      .c-form__select-icon-wrap {
        background-color: #d6273c;
        border-color: #ab182a;
        @include transition(background-color, border-color);

        i {
          text-shadow: 0 1px 0 rgba(#ab182a, 1);
          color: $c-white;
          @include transition(text-shadow, color);
        }
      }
    }

    select {
      opacity: 0;
      cursor: pointer;
      outline: none;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border: none;
      box-shadow: none;
    }

    &-value {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      line-height: 62px;
      width: calc(100% - 27px);
      padding-left: 27px;
      border-bottom-left-radius: 5px;
      border-bottom: 5px solid #e4eaef;
      color: #4d5964;
      font-size: 16px;
      @include respond(max-extra-small) {
        line-height: 36px;
        font-size: 14px;
      }

      &.is-choose {
        color: $c-black;
      }
    }

    &-icon {
      text-shadow: 0 1px 0 rgba($c-white, 1);
      color: #4d5964;
      font-style: normal;
      font-size: 19px;
      font-family: 'Neris', sans-serif;
      @include transition(text-shadow, color);

      &-wrap {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
        width: 27px;
        height: 100%;
        background-color: #e4eaef;
        border-bottom: 5px solid #bbc8d3;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        @include transition(background-color, border-color);
      }
    }
  }

  &__checkbox {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;

    $form-checkbox-icon-wrapper-width: 52px;
    $form-checkbox-icon-width: 24px;
    $form-checkbox-icon-height: $form-checkbox-icon-width;
    $form-checkbox-icon-border-radius: 5px;
    $form-checkbox-icon-border-width: 3px;
    $form-checkbox-icon-border-color-inactive: rgba(#8d96ae, 0.5);
    $form-checkbox-icon-border-color-active: rgba(#8d96ae, 1);
    $form-checkbox-font-size: 14px;
    $form-checkbox-icon-inner-width: 6px;
    $form-checkbox-icon-inner-height: $form-checkbox-icon-inner-width * 2;
    $form-checkbox-icon-inner-border-color: rgba(#8d96ae, 1);
    $form-checkbox-icon-inner-border-width: 2px;
    $form-radio-icon-border-color-active: rgba(#8d96ae, 1);

    &-wrapper {
      position: relative;
      display: flex;
      min-height: 32px;
      margin-bottom: 32px;
      margin-top: 15px;
    }

    &-content {
      cursor: pointer;
      display: flex;
      align-items: center;
      @include respond(max-small) {
        align-items: flex-start;
      }
    }

    &:checked {
      &+label {
        .c-form__checkbox-icon {
          i {
            border-color: $form-radio-icon-border-color-active;
            @include transition(border-color);

            &:before {
              opacity: 1;
              @include transition(opacity);
            }
          }
        }
      }
    }

    &-icon {
      width: 52px;

      i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $form-checkbox-icon-width;
        height: $form-checkbox-icon-height;
        border-radius: $form-checkbox-icon-border-radius;
        border: $form-checkbox-icon-border-width solid $form-checkbox-icon-border-color-inactive;
        @include transition(border-color);

        &:before {
          content: '';
          opacity: 0;
          position: relative;
          top: -2px;
          transform: rotate(45deg);
          width: $form-checkbox-icon-inner-width;
          height: $form-checkbox-icon-inner-height;
          border: solid $form-checkbox-icon-inner-border-color;
          border-width: 0 $form-checkbox-icon-inner-border-width $form-checkbox-icon-inner-border-width 0;
          @include transition(opacity);
        }
      }
    }

    &-text {
      max-width: calc(100% - 52px);
      color: #4d5964;
      font-weight: 500;
      @include fluid(font-size, 320px, 1440px, 12px, 14px);

      span {
        color: rgb(214, 39, 60);
      }
    }
  }

  &__btn {
    outline: none;
    cursor: pointer;
    position: relative;
    width: 100%;
    max-width: 190px;
    height: 56px;
    margin-left: auto;
    border: none;
    border-radius: 5px;
    background-color: rgb(214, 39, 60);
    color: $c-white;
    line-height: 62px;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 2px 0 rgba(#af1932, 1);
    @include transition(line-height, background-color, text-shadow);
    @include respond(max-extra-small) {
      max-width: 100%;
    }

    &:hover {
      background-color: #23394e;
      text-shadow: 0 2px 0 rgba(#0a1723, 1);
      @include transition(background-color, text-shadow);

      &:before {
        border-color: #0a1723;
        background-color: #0a1723;
        @include transition(border-color, background-color);
      }
    }

    &:active {
      line-height: 50px;
      background-color: rgb(214, 39, 60);
      text-shadow: 0 2px 0 rgba(#af1932, 1);
      @include transition(line-height, background-color, text-shadow);

      &:before {
        bottom: 6px;
        border-color: #af1932;
        background-color: #af1932;
        @include transition(bottom, border-color, background-color);
      }
    }

    &:before {
      z-index: -1;
      content: '';
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      border: 6px solid #af1932;
      background-color: #af1932;
      @include transition(border-color, background-color, bottom);
    }
  }
}
// form :: end

// COMMON :: END