// COMMON :: START

// line
.line {
  width: 100%;
  max-width: 90%;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  background-color: rgba(#0a1723, 0.3);
}
// line :: end

// COMMON :: END