.swiper {
  &-container {
    width: 100%;

    &--working {
      max-width: 500px;
      padding-bottom: 50px;

      .swiper {
        &-slide {
          img {
            display: block;
            max-width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
          }
        }

        &-pagination {
          &-bullet {
            opacity: 1;
            border: 1px solid #e4eaef;
            background-color: transparent;
            @include transition(background-color);

            &-active {
              background-color: #e4eaef;
              @include transition(background-color);
            }
          }
        }

        &-button {
          &-prev,
          &-next {
            margin-top: 5%;
          }
        }
      }
    }

    &--save {
      max-width: 1300px;
      padding-bottom: 50px;

      .swiper {
        &-slide {
          display: flex;
          align-items: center;
          height: 100%;
          @include respond(max-medium) {
            flex-wrap: wrap;
            flex-direction: column-reverse;
          }

          &-left,
          &-right {
            position: relative;
            width: 100%;
            height: 100%;
          }

          &-left {
            display: flex;
            flex-direction: column;
            width: 697px;
            padding-left: 130px;
            @include respond(max-medium) {
              padding-right: 65px;
              padding-left: 65px;
            }
            @include respond(max-small) {
              width: 100%;
              padding-left: 35px;
              padding-right: 35px;
            }
          }

          &-right {
            position: relative;
            max-width: calc(100% - 697px);
            min-height: 248px;
            padding-right: 90px;
            @include respond(max-medium) {
              max-width: 100%;
              min-height: 0;
              padding-right: 0;
            }
          }

          &-car {
            z-index: -1;
            position: absolute;
            display: flex;
            align-items: center;
            top: 0;
            right: 0;
            width: calc(100% + 107px);
            height: 100%;
            @include respond(max-medium) {
              position: relative;
              width: 100%;
            }
            @include respond(max-small) {
              padding-left: 50px;
              padding-right: 50px;
            }
            @include respond(max-extra-small) {
              padding-left: 35px;
              padding-right: 35px;
            }

            img {
              position: relative;
              top: 50px;
              display: block;
              max-width: 100%;
              height: auto;
              @include respond(max-medium) {
                top: 0;
                margin-left: auto;
                margin-right: auto;
              }
            }
          }
        }
      }
    }

    &--wiring-0,
    &--wiring-1 {
      padding-bottom: 50px;

      .swiper {
        &-slide {
          padding-left: 50px;
          padding-right: 50px;

          img {
            display: block;
            max-width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
          }
        }

        &-pagination {
          &-bullet {
            opacity: 1;
            background-color: #95a6b2;

            &-active {
              background-color: #0a1723;
            }
          }
        }
      }
    }

    &--control {
      max-width: 1290px;
      padding-bottom: 50px;

      .swiper {
        &-slide {
          padding-left: 50px;
          padding-right: 50px;

          &-top,
          &-bottom {
            width: 100%;
            max-width: 1052px;
            margin-left: auto;
            margin-right: auto;
          }

          &-top {
            img {
              display: block;
              max-width: 100%;
              height: auto;
              margin-left: auto;
              margin-right: auto;
            }
          }

          &-bottom {
            display: flex;
            align-items: center;
            padding-top: 30px;
            @include respond(max-large) {
              flex-direction: column;
            }

            > div {
              &:nth-of-type(1) {
                width: 30%;
                @include respond(max-large) {
                  width: 100%;
                  text-align: center;
                }
              }
              &:nth-of-type(2) {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 70%;
                @include respond(max-large) {
                  flex-direction: column;
                  justify-content: center;
                  width: 100%;
                }
              }
            }
          }
        }

        &-pagination {
          &-bullet {
            opacity: 1;
            background-color: #95a6b2;

            &-active {
              background-color: #0a1723;
            }
          }
        }
      }
    }
  }

  &-button {
    &-prev,
    &-next {
      width: 31px;
      height: 130px;
      margin-top: 0;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      @include respond(max-small) {
        width: 15px;
        height: 64px;
      }
    }

    &-prev {
      background-image: url('../img/img-btn-prev-d.png');
      @include respond(max-small) {
        background-image: url('../img/img-btn-prev.png');
      }
    }

    &-next {
      background-image: url('../img/img-btn-next-d.png');
      @include respond(max-small) {
        background-image: url('../img/img-btn-next.png');
      }
    }
  }
}