// SECTION assembly :: START

.assembly {
  @include fluid(padding-top, 320px, 1440px, 30px, 55px);
  @include fluid(padding-bottom, 320px, 1440px, 50px, 100px);

  .c-grid {
    @include respond(max-small) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    padding-bottom: 43px;
    @include respond(max-small) {
      flex-wrap: wrap;
    }

    > div {
      &:nth-of-type(1) {
        width: 100%;
        max-width: calc(100% - 135px);
        padding-left: 90px;
        @include respond(max-wide-small) {
          padding-left: 0;
        }
        @include respond(max-small) {
          max-width: 100%;
          padding-bottom: 15px;
        }
      }

      &:nth-of-type(2) {
        display: flex;
        justify-content: flex-end;
        width: 135px;
        padding-right: 25px;
        @include respond(max-small) {
          width: 100%;
          padding-right: 0;
          justify-content: center;
        }
      }
    }
  }

  &__title {
    color: #0a1723;
    font-weight: bold;
    @include fluid(font-size, 320px, 1440px, 24px, 48px);
    @include respond(max-small) {
      padding-top: 30px;
      text-align: center;
    }
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;

    &-left,
    &-right {
      width: 100%;
    }

    &-left {
      padding-left: 90px;
      max-width: calc(100 - 625px);
      @include respond(max-wide-small) {
        padding-left: 0;
      }
    }

    &-right {
      max-width: 625px;
      padding: 0 25px;
      @include respond(max-small) {
        display: none;
      }

      img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-bottom: 25px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    &-item {
      display: flex;
      align-items: stretch;
      padding-bottom: 40px;

      > div {
        &:nth-of-type(1) {
          position: relative;
          width: 68px;
          @include respond(max-small) {
            display: none;
          }
        }

        &:nth-of-type(2) {
          width: 100%;
          max-width: calc(100% - 68px);
          padding-right: 90px;
          @include respond(max-medium) {
            padding-right: 0;
          }
          @include respond(max-small) {
            max-width: 100%;
            text-align: center;
          }
        }
      }

      h3,
      p {
        color: #0a1723;

        span {
          font-weight: bold;
        }
      }

      h3 {
        font-weight: bold;
        @include fluid(padding-bottom, 320px, 1440px, 0px, 10px);
        @include fluid(font-size, 320px, 1440px, 18px, 23px);

        span {
          display: none;
          @include respond(max-small) {
            display: inline-block;
            padding-right: 5px;
          }
        }
      }

      p {
        @include fluid(font-size, 320px, 1440px, 14px, 18px);
      }
    }

    &-num {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 49px;
      height: 49px;
      border-radius: 100%;
      border: 1px solid #95a6b2;
      background-color: transparent;
      color: #95a6b2;
      font-size: 29px;
      font-weight: 300;
      @include respond(max-small) {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 17px;
      }
    }

    &-line {
      position: absolute;
      top: 49px;
      left: 0;
      width: 49px;
      height: calc(100% - 24px);
      padding: 12px;

      &:before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 12px;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: calc(100% - (24px));
        background-color: #95a6b2;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 12px;
        left: 50%;
        padding: 3px;
        border: solid #95a6b2;
        border-width: 0 1px 1px 0;
        transform: translateX(-50%) rotate(45deg);
      }
    }
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

    &--mobile {
      display: none;
      @include respond(max-small) {
        display: block;
      }
    }
  }
}

// SECTION assembly :: END