// SECTION order :: START

.order {
  position: relative;
  padding-top: 84px;

  .c-grid {
    @include respond(max-extra-small) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__bg {
    z-index: -1;
    position: absolute;
    left: 0;
    top: (84px + 30px);
    width: 100%;
    height: 52%;
    background-color: #ecf7ff;
    @include respond(max-small) {
      height: 72%;
    }
  }

  &__wrapper {
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    @include respond(max-small) {
      flex-wrap: wrap;
    }

    &-left,
    &-middle,
    &-right {
      width: 100%;
    }

    &-left {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 256px;
      @include respond(max-small) {
        max-width: 100%;
      }
    }

    &-middle {
      max-width: 775px;
      @include respond(max-small) {
        max-width: 100%;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }

    &-right {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 388px;
      @include respond(max-small) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  p,
  span {
    font-weight: bold;
    @include fluid(font-size, 320px, 1440px, 18px, 30px);
  }

  span {
    display: block;
    color: #d72d42;
  }
}

// SECTION order :: END