// SECTION powercontrol :: START

.powercontrol {
  &__wrapper {
    z-index: 1;
    position: relative;
    @include respond(medium) {
      @include fluid(padding-top, 320px, 1920px, 15px, 105px);
    }
    @include respond(max-small) {
      padding-top: 75px;
    }
  }

  &__row {
    &-0 {
      display: flex;
      align-items: center;
      @include respond(max-small) {
        flex-direction: column;
      }
    }

    &-1 {
      @include fluid(padding-top, 320px, 1440px, 120px, 155px);
      @include fluid(padding-bottom, 320px, 1440px, 40px, 100px);
    }

    &-left {
      width: 487px;
      padding-right: 65px;
      @include respond(max-large) {
        width: 300px;
        padding-right: 0;
      }
      @include respond(max-small) {
        width: 100%;
      }

      img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        @include respond(max-large) {
          margin-right: auto;
        }
      }
    }

    &-right {
      width: 100%;
      max-width: calc(100% - 487px);
      padding-left: 15px;
      @include respond(max-large) {
        max-width: calc(100% - 300px);
      }
      @include respond(max-small) {
        position: relative;
        top: 0;
        max-width: 100%;
        padding-right: 15px;
        text-align: center;
      }
    }
  }

  &__img {
    &-wrapper {
      @include respond(medium) {
        width: 100%;
        max-width: 252px;
        margin-left: auto;
      }
    }

    &--desktop {
      @include respond(max-small) {
        display: none !important;
      }
    }

    &--mobile {
      display: none !important;
      @include respond(max-small) {
        display: block !important;
      }
    }

    &--dte {
      display: none;
      max-width: 100%;
      height: auto;
      margin-top: 15px;
      margin-left: auto;
      margin-right: auto;
      @include respond(max-small) {
        display: block;
      }

      &-desktop {
        display: block;
        max-width: 100%;
        height: auto;
        margin-top: 34px;
        margin-left: auto;
        margin-right: auto;
        @include respond(max-small) {
          display: none !important;
        }
      }
    }
  }

  &__title {
    color: $c-white;
    line-height: 1;
    font-weight: bold;
    @include fluid(padding-bottom, 320px, 1440px, 0, 25px);
    @include fluid(font-size, 320px, 1440px, 36px, 48px);

    + .powercontrol__text {
      font-size: 18px !important;
    }
  }

  &__text {
    width: 100%;
    max-width: 630px;
    color: $c-white;
    line-height: line-height-convert(30, 18);
    @include fluid(font-size, 320px, 1440px, 14px, 18px);
    @include respond(max-small) {
      margin-left: auto;
      margin-right: auto;
    }

    &--pb {
      padding-bottom: 25px;
      @include respond(max-extra-small) {
        padding-bottom: 15px;
      }
    }

    span {
      font-weight: bold;

      &:nth-child(2) {
        display: block;
      }
    }
  }

  &__block {
    display: flex;
    align-items: center;
    margin-right: 20px;
    @include respond(max-extra-small) {
      margin-right: 15px;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      @include respond(max-small) {
        justify-content: center;
        padding-left: 0;
      }
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
      @include respond(max-extra-small) {
        transform: scale(0.75);
      }
    }

    p {
      padding-left: 15px;
      color: $c-white;
      font-size: 24px;
      font-weight: bold;
      @include fluid(font-size, 320px, 1440px, 18px, 24px);
      @include respond(max-extra-small) {
        padding-left: 0;
      }
    }
  }

  &__btn {
    @include fluid(line-height, 320px, 1440px, 47px, 68px);
    @include respond(max-small) {
      display: none;
    }
  }
}

// SECTION powercontrol :: END