/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
/* line 3, src/scss/_vendor/hamburger/_base.scss */
.hamburger {
  padding: 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

/* line 21, src/scss/_vendor/hamburger/_base.scss */
.hamburger:hover {
  opacity: 0.7;
}

/* line 31, src/scss/_vendor/hamburger/_base.scss */
.hamburger-box {
  width: 16px;
  height: 14px;
  display: inline-block;
  position: relative;
}

/* line 38, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px;
}

/* line 43, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 16px;
  height: 2px;
  background-color: #000;
  border-radius: 0;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

/* line 56, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

/* line 62, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner::before {
  top: -6px;
}

/* line 66, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner::after {
  bottom: -6px;
}

/*
   * Squeeze
   */
/* line 6, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze .hamburger-inner {
  -webkit-transition-duration: 0.075s;
       -o-transition-duration: 0.075s;
          transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
       -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* line 10, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze .hamburger-inner::before {
  -webkit-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  -o-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

/* line 15, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze .hamburger-inner::after {
  -webkit-transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* line 22, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
       -o-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* line 27, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  -o-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

/* line 34, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* line 74, src/scss/_generated/_spritePNG.scss */
.icon-nav-0:before {
  background-image: url("../img/sprite.png");
  background-position: 0px -53px;
  background-repeat: no-repeat;
  width: 31px;
  height: 32px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 74, src/scss/_generated/_spritePNG.scss */
  .icon-nav-0:before {
    background-size: 87px 85px;
    background-image: url("../img/sprite@2x.png");
  }
}

/* line 77, src/scss/_generated/_spritePNG.scss */
.icon-nav-1:before {
  background-image: url("../img/sprite.png");
  background-position: -53px 0px;
  background-repeat: no-repeat;
  width: 34px;
  height: 34px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 77, src/scss/_generated/_spritePNG.scss */
  .icon-nav-1:before {
    background-size: 87px 85px;
    background-image: url("../img/sprite@2x.png");
  }
}

/* line 80, src/scss/_generated/_spritePNG.scss */
.label-contact:before {
  background-image: url("../img/sprite.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 80, src/scss/_generated/_spritePNG.scss */
  .label-contact:before {
    background-size: 87px 85px;
    background-image: url("../img/sprite@2x.png");
  }
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Black.woff2") format("woff2"), url("../fonts/ProximaNova-Black.woff") format("woff"), url("../fonts/ProximaNova-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Extrabld.woff2") format("woff2"), url("../fonts/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/ProximaNova-Extrabld.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Medium.woff2") format("woff2"), url("../fonts/ProximaNova-Medium.woff") format("woff"), url("../fonts/ProximaNova-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Neris";
  src: url("../fonts/Neris-Light.woff2") format("woff2"), url("../fonts/Neris-Light.woff") format("woff"), url("../fonts/Neris-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

/* line 8, src/scss/_shared/_grid.scss */
.c-grid, .c-grid-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (max-width: 575px) {
  /* line 8, src/scss/_shared/_grid.scss */
  .c-grid, .c-grid-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 24, src/scss/_shared/_grid.scss */
.c-grid {
  max-width: 1464px;
}

/* line 31, src/scss/_shared/_grid.scss */
.c-grid-fluid {
  max-width: 100%;
}

@media screen and (min-width: 576px) {
  /* line 39, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1464px;
  }
}

@media screen and (min-width: 992px) {
  /* line 39, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1464px;
  }
}

@media screen and (min-width: 1200px) {
  /* line 39, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1464px;
  }
}

@media screen and (min-width: 768px) {
  /* line 39, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1464px;
  }
}

@media screen and (min-width: 1366px) {
  /* line 39, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1464px;
  }
}

/* line 1, src/scss/_shared/_main-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 7, src/scss/_shared/_main-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  overflow: hidden;
}

/* line 13, src/scss/_shared/_main-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 19, src/scss/_shared/_main-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #0a1723;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  font-family: "ProximaNova", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 34, src/scss/_shared/_main-reset.scss */
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 39, src/scss/_shared/_main-reset.scss */
body > .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 45, src/scss/_shared/_main-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 52, src/scss/_shared/_main-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 55, src/scss/_shared/_main-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 62, src/scss/_shared/_main-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 72, src/scss/_shared/_main-reset.scss */
button,
input {
  overflow: visible;
}

/* line 78, src/scss/_shared/_main-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 84, src/scss/_shared/_main-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 90, src/scss/_shared/_main-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 96, src/scss/_shared/_main-reset.scss */
textarea {
  overflow: auto;
}

/* line 101, src/scss/_shared/_main-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 109, src/scss/_shared/_main-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 114, src/scss/_shared/_main-reset.scss */
ul li {
  list-style: none;
}

/* line 120, src/scss/_shared/_main-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 125, src/scss/_shared/_main-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 132, src/scss/_shared/_main-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 136, src/scss/_shared/_main-reset.scss */
picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 4, src/scss/_shared/_common.scss */
.line {
  width: 100%;
  max-width: 92%;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  background-color: rgba(10, 23, 35, 0.3);
}

/* line 17, src/scss/_shared/_common.scss */
.c-form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 575px) {
  /* line 21, src/scss/_shared/_common.scss */
  .c-form__group--select {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/* line 26, src/scss/_shared/_common.scss */
.c-form__group--select .c-form__group-col {
  width: 160px;
  margin-left: 6px;
  margin-right: 6px;
}

@media screen and (max-width: 575px) {
  /* line 26, src/scss/_shared/_common.scss */
  .c-form__group--select .c-form__group-col {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 12px;
  }
}

/* line 37, src/scss/_shared/_common.scss */
.c-form__group--select .c-form__group-col:first-of-type {
  margin-left: 0;
}

/* line 40, src/scss/_shared/_common.scss */
.c-form__group--select .c-form__group-col:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 575px) {
  /* line 40, src/scss/_shared/_common.scss */
  .c-form__group--select .c-form__group-col:last-of-type {
    margin-bottom: 0;
  }
}

/* line 49, src/scss/_shared/_common.scss */
.c-form__group--input {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 575px) {
  /* line 49, src/scss/_shared/_common.scss */
  .c-form__group--input {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/* line 55, src/scss/_shared/_common.scss */
.c-form__group--input .c-form__group-col {
  width: 190px;
  margin-left: 5px;
  margin-right: 5px;
}

@media screen and (max-width: 575px) {
  /* line 55, src/scss/_shared/_common.scss */
  .c-form__group--input .c-form__group-col {
    width: 100%;
    margin: 0;
  }
}

/* line 64, src/scss/_shared/_common.scss */
.c-form__group--input .c-form__group-col:first-of-type {
  margin-left: 0;
}

/* line 67, src/scss/_shared/_common.scss */
.c-form__group--input .c-form__group-col:last-of-type {
  margin-right: 0;
}

/* line 80, src/scss/_shared/_common.scss */
.c-form__field {
  position: relative;
}

/* line 83, src/scss/_shared/_common.scss */
.c-form__field--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 89, src/scss/_shared/_common.scss */
.c-form__input {
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 6px);
  padding: 0 20px;
  border-radius: 5px;
  border: 3px solid #8d96ae;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #4d5964;
  font-size: 16px;
  font-weight: 500;
}

/* line 88, src/scss/_utilities/_mixin.scss */
.c-form__input.placeholder {
  color: #4d5964;
}

/* line 89, src/scss/_utilities/_mixin.scss */
.c-form__input:-moz-placeholder {
  color: #4d5964;
}

/* line 90, src/scss/_utilities/_mixin.scss */
.c-form__input::-moz-placeholder {
  color: #4d5964;
}

/* line 91, src/scss/_utilities/_mixin.scss */
.c-form__input:-ms-input-placeholder {
  color: #4d5964;
}

/* line 92, src/scss/_utilities/_mixin.scss */
.c-form__input::-webkit-input-placeholder {
  color: #4d5964;
}

/* line 107, src/scss/_shared/_common.scss */
.c-form__input-wrapper {
  position: relative;
  min-height: 62px;
  background-color: #fff;
  margin-bottom: 16px;
}

/* line 113, src/scss/_shared/_common.scss */
.c-form__input-wrapper:before {
  z-index: 0;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 6px solid #e4eaef;
  background-color: #e4eaef;
}

/* line 128, src/scss/_shared/_common.scss */
.c-form__textarea {
  outline: none;
  resize: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 8px);
  padding: 20px;
  border-radius: 5px;
  border: 3px solid #8d96ae;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #4d5964;
  font-size: 16px;
  font-weight: 500;
}

/* line 144, src/scss/_shared/_common.scss */
.c-form__textarea-wrapper {
  position: relative;
  min-height: 309px;
  margin-bottom: 16px;
}

/* line 149, src/scss/_shared/_common.scss */
.c-form__textarea-wrapper:before {
  z-index: 0;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 8px solid #e4eaef;
  background-color: #e4eaef;
}

/* line 164, src/scss/_shared/_common.scss */
.c-form__select {
  overflow: hidden;
  height: 100%;
  min-height: 62px;
  border-radius: 5px;
  background-color: #fff;
}

@media screen and (max-width: 575px) {
  /* line 164, src/scss/_shared/_common.scss */
  .c-form__select {
    min-height: 36px;
  }
}

/* line 175, src/scss/_shared/_common.scss */
.c-form__select:hover .c-form__select-icon-wrap {
  background-color: #d6273c;
  border-color: #ab182a;
  -webkit-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

/* line 180, src/scss/_shared/_common.scss */
.c-form__select:hover .c-form__select-icon-wrap i {
  text-shadow: 0 1px 0 #ab182a;
  color: #fff;
  -webkit-transition: text-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: text-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: text-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 188, src/scss/_shared/_common.scss */
.c-form__select select {
  opacity: 0;
  cursor: pointer;
  outline: none;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* line 202, src/scss/_shared/_common.scss */
.c-form__select-value {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  line-height: 62px;
  width: calc(100% - 27px);
  padding-left: 27px;
  border-bottom-left-radius: 5px;
  border-bottom: 5px solid #e4eaef;
  color: #4d5964;
  font-size: 16px;
}

@media screen and (max-width: 575px) {
  /* line 202, src/scss/_shared/_common.scss */
  .c-form__select-value {
    line-height: 36px;
    font-size: 14px;
  }
}

/* line 223, src/scss/_shared/_common.scss */
.c-form__select-value.is-choose {
  color: #000;
}

/* line 228, src/scss/_shared/_common.scss */
.c-form__select-icon {
  text-shadow: 0 1px 0 white;
  color: #4d5964;
  font-style: normal;
  font-size: 19px;
  font-family: 'Neris', sans-serif;
  -webkit-transition: text-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: text-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: text-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 236, src/scss/_shared/_common.scss */
.c-form__select-icon-wrap {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  right: 0;
  width: 27px;
  height: 100%;
  background-color: #e4eaef;
  border-bottom: 5px solid #bbc8d3;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

/* line 254, src/scss/_shared/_common.scss */
.c-form__btn {
  outline: none;
  cursor: pointer;
  position: relative;
  width: 100%;
  max-width: 190px;
  height: 56px;
  margin-left: auto;
  border: none;
  border-radius: 5px;
  background-color: #d6273c;
  color: #fff;
  line-height: 62px;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 2px 0 #af1932;
  -webkit-transition: text-shadow 0.3s ease-in-out;
  -o-transition: text-shadow 0.3s ease-in-out;
  transition: text-shadow 0.3s ease-in-out;
}

@media screen and (max-width: 575px) {
  /* line 254, src/scss/_shared/_common.scss */
  .c-form__btn {
    max-width: 100%;
  }
}

/* line 275, src/scss/_shared/_common.scss */
.c-form__btn:hover {
  text-shadow: none;
  -webkit-transition: text-shadow 0.3s ease-in-out;
  -o-transition: text-shadow 0.3s ease-in-out;
  transition: text-shadow 0.3s ease-in-out;
}

/* line 279, src/scss/_shared/_common.scss */
.c-form__btn:hover:before {
  border-color: #d6273c;
  background-color: #d6273c;
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* line 286, src/scss/_shared/_common.scss */
.c-form__btn:before {
  z-index: -1;
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 6px solid #af1932;
  background-color: #af1932;
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* line 4, src/scss/_shared/_iconPNG.scss */
.icon-png:before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 4, src/scss/_macros/_logotype.scss */
.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 9, src/scss/_macros/_logotype.scss */
.logo__img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {
  /* line 9, src/scss/_macros/_logotype.scss */
  .logo__img {
    height: calc(43px / 2);
  }
}

/* line 4, src/scss/_macros/_nav.scss */
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1199px) {
  /* line 4, src/scss/_macros/_nav.scss */
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* line 12, src/scss/_macros/_nav.scss */
.nav__item {
  margin-right: 22px;
}

@media screen and (max-width: 1365px) {
  /* line 15, src/scss/_macros/_nav.scss */
  .nav__item:last-of-type {
    margin-right: 0;
  }
}

@media screen and (max-width: 1199px) {
  /* line 12, src/scss/_macros/_nav.scss */
  .nav__item {
    margin-right: 0;
  }
}

/* line 24, src/scss/_macros/_nav.scss */
.nav__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 16px;
  color: #7984a1;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

@media screen and (max-width: 1199px) {
  /* line 24, src/scss/_macros/_nav.scss */
  .nav__link {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 50px;
    padding-bottom: 0;
  }
}

/* line 38, src/scss/_macros/_nav.scss */
.nav__link.is-active, .nav__link:hover {
  color: #0a1723;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 43, src/scss/_macros/_nav.scss */
.nav__link.is-active .nav__link-icon, .nav__link:hover .nav__link-icon {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

/* line 49, src/scss/_macros/_nav.scss */
.nav__link-icon {
  opacity: 0;
  position: absolute;
  top: calc(100% - 8px);
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

@media screen and (max-width: 1199px) {
  /* line 49, src/scss/_macros/_nav.scss */
  .nav__link-icon {
    display: none;
  }
}

/* line 3, src/scss/_components/_header.scss */
.header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/* line 13, src/scss/_components/_header.scss */
.header--fixed {
  background-color: rgba(255, 255, 255, 0.98);
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.025);
          box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.025);
  -webkit-transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

@media screen and (max-width: 575px) {
  /* line 19, src/scss/_components/_header.scss */
  .header .c-grid {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* line 26, src/scss/_components/_header.scss */
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 147px;
  -webkit-transition: min-height 0.3s ease-in-out;
  -o-transition: min-height 0.3s ease-in-out;
  transition: min-height 0.3s ease-in-out;
}

@media screen and (max-width: 1199px) {
  /* line 26, src/scss/_components/_header.scss */
  .header__wrapper {
    min-height: 75px;
  }
}

@media screen and (max-width: 767px) {
  /* line 26, src/scss/_components/_header.scss */
  .header__wrapper {
    min-height: 50px;
  }
}

@media screen and (min-width: 1200px) {
  /* line 38, src/scss/_components/_header.scss */
  .header--fixed .header__wrapper {
    min-height: 100px;
    -webkit-transition: min-height 0.3s ease-in-out;
    -o-transition: min-height 0.3s ease-in-out;
    transition: min-height 0.3s ease-in-out;
  }
}

/* line 45, src/scss/_components/_header.scss */
.header__wrapper-left {
  padding-left: 38px;
}

@media screen and (max-width: 1439px) {
  /* line 45, src/scss/_components/_header.scss */
  .header__wrapper-left {
    padding-left: 0;
  }
}

@media screen and (max-width: 1199px) {
  /* line 45, src/scss/_components/_header.scss */
  .header__wrapper-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

/* line 58, src/scss/_components/_header.scss */
.header__wrapper-left .hamburger {
  display: none;
}

@media screen and (max-width: 1199px) {
  /* line 58, src/scss/_components/_header.scss */
  .header__wrapper-left .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* line 67, src/scss/_components/_header.scss */
.header__wrapper-right {
  width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 1199px) {
  /* line 67, src/scss/_components/_header.scss */
  .header__wrapper-right {
    display: none;
  }
  /* line 76, src/scss/_components/_header.scss */
  .header__wrapper-right.is-open {
    display: block;
    z-index: 100;
    overflow-y: auto;
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    height: calc(100vh - 75px);
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s;
    -webkit-animation-name: c-fadeIn;
            animation-name: c-fadeIn;
  }
}

@media screen and (max-width: 767px) {
  /* line 94, src/scss/_components/_header.scss */
  .header__wrapper-right.is-open {
    top: 50px;
    height: calc(100vh - 50px);
  }
}

@-webkit-keyframes c-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes c-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* line 3, src/scss/_components/_main.scss */
.main {
  overflow: hidden;
  position: relative;
  min-height: 369px;
  padding-top: 50px;
}

@media screen and (min-width: 320px) {
  /* line 3, src/scss/_components/_main.scss */
  .main {
    min-height: calc(369px + 271 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 3, src/scss/_components/_main.scss */
  .main {
    min-height: 640px;
  }
}

@media screen and (min-width: 320px) {
  /* line 3, src/scss/_components/_main.scss */
  .main {
    padding-top: calc(50px + 97 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 3, src/scss/_components/_main.scss */
  .main {
    padding-top: 147px;
  }
}

@media screen and (max-width: 575px) {
  /* line 9, src/scss/_components/_main.scss */
  .main .c-grid {
    padding-left: 25px;
    padding-right: 25px;
  }
}

/* line 16, src/scss/_components/_main.scss */
.main__bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/img-bg-main.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
}

@media screen and (max-width: 1919px) {
  /* line 16, src/scss/_components/_main.scss */
  .main__bg {
    background-size: cover;
  }
}

@media screen and (max-width: 575px) {
  /* line 16, src/scss/_components/_main.scss */
  .main__bg {
    background-position: 0 0;
  }
}

/* line 35, src/scss/_components/_main.scss */
.main__wrapper {
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 75px;
}

@media screen and (min-width: 320px) {
  /* line 35, src/scss/_components/_main.scss */
  .main__wrapper {
    padding-top: calc(75px + 30 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 35, src/scss/_components/_main.scss */
  .main__wrapper {
    padding-top: 105px;
  }
}

/* line 42, src/scss/_components/_main.scss */
.main__wrapper-left {
  width: 580px;
  padding-left: 67px;
}

@media screen and (max-width: 1365px) {
  /* line 42, src/scss/_components/_main.scss */
  .main__wrapper-left {
    padding-left: 0;
  }
}

@media screen and (max-width: 1199px) {
  /* line 42, src/scss/_components/_main.scss */
  .main__wrapper-left {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  /* line 42, src/scss/_components/_main.scss */
  .main__wrapper-left {
    z-index: 1;
    position: relative;
    width: 100%;
  }
}

/* line 58, src/scss/_components/_main.scss */
.main__wrapper-right {
  width: 100%;
  max-width: calc(100% - 580px);
  padding-left: 15px;
}

@media screen and (max-width: 1199px) {
  /* line 58, src/scss/_components/_main.scss */
  .main__wrapper-right {
    max-width: 50%;
  }
}

@media screen and (max-width: 767px) {
  /* line 58, src/scss/_components/_main.scss */
  .main__wrapper-right {
    z-index: 0;
    position: absolute;
    max-width: 100%;
    bottom: 0;
    right: 0;
    -webkit-transform: translateX(40%);
        -ms-transform: translateX(40%);
            transform: translateX(40%);
  }
}

/* line 74, src/scss/_components/_main.scss */
.main__wrapper-right img {
  z-index: 0;
  position: relative;
  top: 15px;
  left: 6px;
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
}

/* line 87, src/scss/_components/_main.scss */
.main__title, .main__subtitle {
  white-space: nowrap;
  color: #fff;
}

@media screen and (max-width: 1199px) {
  /* line 87, src/scss/_components/_main.scss */
  .main__title, .main__subtitle {
    white-space: normal;
  }
}

/* line 96, src/scss/_components/_main.scss */
.main__title {
  line-height: 1.4;
  font-weight: bold;
  font-size: 24px;
}

@media screen and (min-width: 320px) {
  /* line 96, src/scss/_components/_main.scss */
  .main__title {
    font-size: calc(24px + 47 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 96, src/scss/_components/_main.scss */
  .main__title {
    font-size: 71px;
  }
}

/* line 102, src/scss/_components/_main.scss */
.main__subtitle {
  padding-bottom: 38px;
  font-weight: 600;
  padding-bottom: 20px;
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  /* line 102, src/scss/_components/_main.scss */
  .main__subtitle {
    padding-bottom: calc(20px + 18 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 102, src/scss/_components/_main.scss */
  .main__subtitle {
    padding-bottom: 38px;
  }
}

@media screen and (min-width: 320px) {
  /* line 102, src/scss/_components/_main.scss */
  .main__subtitle {
    font-size: calc(16px + 16 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 102, src/scss/_components/_main.scss */
  .main__subtitle {
    font-size: 32px;
  }
}

/* line 4, src/scss/_components/_info.scss */
.info__wrapper {
  padding-top: 55px;
  padding-bottom: 95px;
}

/* line 9, src/scss/_components/_info.scss */
.info__box {
  cursor: pointer;
  position: relative;
  width: 100%;
  max-width: calc((100% / 3) - 16px);
  min-height: 201px;
  margin-left: 16px;
  margin-right: 16px;
}

@media screen and (min-width: 320px) {
  /* line 9, src/scss/_components/_info.scss */
  .info__box {
    min-height: calc(201px + 85 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 9, src/scss/_components/_info.scss */
  .info__box {
    min-height: 286px;
  }
}

@media screen and (max-width: 991px) {
  /* line 9, src/scss/_components/_info.scss */
  .info__box {
    max-width: 456px;
    margin: 0 auto 30px;
  }
}

@media screen and (max-width: 767px) {
  /* line 9, src/scss/_components/_info.scss */
  .info__box {
    margin: 0 auto 21px;
  }
}

/* line 25, src/scss/_components/_info.scss */
.info__box:first-of-type {
  margin-left: 0;
}

@media screen and (max-width: 991px) {
  /* line 25, src/scss/_components/_info.scss */
  .info__box:first-of-type {
    margin-left: auto;
  }
}

/* line 31, src/scss/_components/_info.scss */
.info__box:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 991px) {
  /* line 31, src/scss/_components/_info.scss */
  .info__box:last-of-type {
    margin-right: auto;
  }
}

/* line 40, src/scss/_components/_info.scss */
.info__box:hover .info__box-img img:last-of-type {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

/* line 48, src/scss/_components/_info.scss */
.info__box-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 991px) {
  /* line 48, src/scss/_components/_info.scss */
  .info__box-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/* line 56, src/scss/_components/_info.scss */
.info__box-title {
  z-index: 1;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 73px;
  padding-left: 24px;
}

@media screen and (max-width: 1199px) {
  /* line 56, src/scss/_components/_info.scss */
  .info__box-title {
    padding-left: 18px;
  }
}

@media screen and (max-width: 767px) {
  /* line 56, src/scss/_components/_info.scss */
  .info__box-title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
  }
}

/* line 75, src/scss/_components/_info.scss */
.info__box-title p,
.info__box-title span {
  color: #0a1723;
  line-height: 1;
  font-weight: bold;
}

/* line 82, src/scss/_components/_info.scss */
.info__box-title p {
  font-size: 30px;
}

@media screen and (min-width: 320px) {
  /* line 82, src/scss/_components/_info.scss */
  .info__box-title p {
    font-size: calc(30px + 13 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 82, src/scss/_components/_info.scss */
  .info__box-title p {
    font-size: 43px;
  }
}

/* line 86, src/scss/_components/_info.scss */
.info__box-title span {
  font-size: 18px;
}

@media screen and (min-width: 320px) {
  /* line 86, src/scss/_components/_info.scss */
  .info__box-title span {
    font-size: calc(18px + 12 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 86, src/scss/_components/_info.scss */
  .info__box-title span {
    font-size: 30px;
  }
}

/* line 91, src/scss/_components/_info.scss */
.info__box-img {
  z-index: 0;
  position: relative;
}

/* line 95, src/scss/_components/_info.scss */
.info__box-img img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 575px) {
  /* line 95, src/scss/_components/_info.scss */
  .info__box-img img {
    right: 0;
    margin: 0 auto;
  }
}

/* line 104, src/scss/_components/_info.scss */
.info__box-img img:last-of-type {
  opacity: 0;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

/* line 3, src/scss/_components/_contacts.scss */
.contact {
  overflow: hidden;
  position: relative;
  padding-top: 50px;
  padding-bottom: 100px;
}

@media screen and (min-width: 320px) {
  /* line 3, src/scss/_components/_contacts.scss */
  .contact {
    padding-top: calc(50px + 97 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 3, src/scss/_components/_contacts.scss */
  .contact {
    padding-top: 147px;
  }
}

@media screen and (min-width: 320px) {
  /* line 3, src/scss/_components/_contacts.scss */
  .contact {
    padding-bottom: calc(100px + 100 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 3, src/scss/_components/_contacts.scss */
  .contact {
    padding-bottom: 200px;
  }
}

/* line 9, src/scss/_components/_contacts.scss */
.contact__bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/img-bg.png");
  background-repeat: no-repeat;
  background-position: center 75px;
  background-size: contain;
}

@media screen and (max-width: 1919px) {
  /* line 9, src/scss/_components/_contacts.scss */
  .contact__bg {
    background-position: center top;
    background-size: cover;
  }
}

@media screen and (max-width: 575px) {
  /* line 9, src/scss/_components/_contacts.scss */
  .contact__bg {
    background-position: 0 0;
  }
}

/* line 29, src/scss/_components/_contacts.scss */
.contact .c-grid {
  z-index: 1;
  position: relative;
  max-width: 1342px;
}

@media screen and (max-width: 575px) {
  /* line 29, src/scss/_components/_contacts.scss */
  .contact .c-grid {
    padding-left: 25px;
    padding-right: 25px;
  }
}

/* line 39, src/scss/_components/_contacts.scss */
.contact__wrapper {
  padding-top: 31px;
}

@media screen and (min-width: 320px) {
  /* line 39, src/scss/_components/_contacts.scss */
  .contact__wrapper {
    padding-top: calc(31px + 65 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 39, src/scss/_components/_contacts.scss */
  .contact__wrapper {
    padding-top: 96px;
  }
}

/* line 43, src/scss/_components/_contacts.scss */
.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 48, src/scss/_components/_contacts.scss */
.contact__row-1 .contact__row-left {
  width: 70%;
  padding-left: 130px;
  padding-right: 15px;
}

@media screen and (max-width: 1199px) {
  /* line 48, src/scss/_components/_contacts.scss */
  .contact__row-1 .contact__row-left {
    width: 60%;
    padding-left: 0;
  }
}

/* line 57, src/scss/_components/_contacts.scss */
.contact__row-1 .contact__row-right {
  width: 30%;
}

@media screen and (max-width: 1199px) {
  /* line 57, src/scss/_components/_contacts.scss */
  .contact__row-1 .contact__row-right {
    width: 40%;
  }
}

/* line 63, src/scss/_components/_contacts.scss */
.contact__row-1 .contact__row-right img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 71, src/scss/_components/_contacts.scss */
.contact__row-3 {
  padding-bottom: 110px;
}

@media screen and (max-width: 767px) {
  /* line 71, src/scss/_components/_contacts.scss */
  .contact__row-3 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/* line 77, src/scss/_components/_contacts.scss */
.contact__row-3 .contact__row-left,
.contact__row-3 .contact__row-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

/* line 83, src/scss/_components/_contacts.scss */
.contact__row-3 .contact__row-left > div,
.contact__row-3 .contact__row-right > div {
  width: 100%;
  min-height: 463px;
}

/* line 88, src/scss/_components/_contacts.scss */
.contact__row-3 .contact__row-left {
  padding-right: 42px;
}

@media screen and (max-width: 991px) {
  /* line 88, src/scss/_components/_contacts.scss */
  .contact__row-3 .contact__row-left {
    width: 60%;
    padding-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  /* line 88, src/scss/_components/_contacts.scss */
  .contact__row-3 .contact__row-left {
    width: 100%;
    padding-right: 0;
    margin-bottom: 19px;
  }
}

@media screen and (max-width: 991px) {
  /* line 100, src/scss/_components/_contacts.scss */
  .contact__row-3 .contact__row-right {
    width: 40%;
  }
}

@media screen and (max-width: 767px) {
  /* line 100, src/scss/_components/_contacts.scss */
  .contact__row-3 .contact__row-right {
    width: 100%;
  }
}

/* line 112, src/scss/_components/_contacts.scss */
.contact__title, .contact__subtitle {
  line-height: 1.4;
  font-weight: bold;
}

/* line 118, src/scss/_components/_contacts.scss */
.contact__title {
  font-size: 24px;
  padding-bottom: 30px;
}

@media screen and (min-width: 320px) {
  /* line 118, src/scss/_components/_contacts.scss */
  .contact__title {
    font-size: calc(24px + 47 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 118, src/scss/_components/_contacts.scss */
  .contact__title {
    font-size: 71px;
  }
}

@media screen and (min-width: 320px) {
  /* line 118, src/scss/_components/_contacts.scss */
  .contact__title {
    padding-bottom: calc(30px + 33 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 118, src/scss/_components/_contacts.scss */
  .contact__title {
    padding-bottom: 63px;
  }
}

/* line 123, src/scss/_components/_contacts.scss */
.contact__subtitle {
  font-size: 14px;
  padding-top: 31px;
  padding-bottom: 34px;
}

@media screen and (min-width: 320px) {
  /* line 123, src/scss/_components/_contacts.scss */
  .contact__subtitle {
    font-size: calc(14px + 34 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 123, src/scss/_components/_contacts.scss */
  .contact__subtitle {
    font-size: 48px;
  }
}

@media screen and (min-width: 320px) {
  /* line 123, src/scss/_components/_contacts.scss */
  .contact__subtitle {
    padding-top: calc(31px + 69 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 123, src/scss/_components/_contacts.scss */
  .contact__subtitle {
    padding-top: 100px;
  }
}

@media screen and (min-width: 320px) {
  /* line 123, src/scss/_components/_contacts.scss */
  .contact__subtitle {
    padding-bottom: calc(34px + 60 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 123, src/scss/_components/_contacts.scss */
  .contact__subtitle {
    padding-bottom: 94px;
  }
}

/* line 129, src/scss/_components/_contacts.scss */
.contact__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  /* line 129, src/scss/_components/_contacts.scss */
  .contact__col {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/* line 136, src/scss/_components/_contacts.scss */
.contact__col-0 {
  padding-bottom: 23px;
}

@media screen and (min-width: 320px) {
  /* line 136, src/scss/_components/_contacts.scss */
  .contact__col-0 {
    padding-bottom: calc(23px + 41 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 136, src/scss/_components/_contacts.scss */
  .contact__col-0 {
    padding-bottom: 64px;
  }
}

/* line 140, src/scss/_components/_contacts.scss */
.contact__col-img {
  width: 139px;
}

@media screen and (max-width: 767px) {
  /* line 140, src/scss/_components/_contacts.scss */
  .contact__col-img {
    width: 100%;
    padding-bottom: 12px;
  }
}

/* line 148, src/scss/_components/_contacts.scss */
.contact__col-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 152, src/scss/_components/_contacts.scss */
.contact__col-text p,
.contact__col-text span {
  line-height: 1;
}

/* line 157, src/scss/_components/_contacts.scss */
.contact__col-text p {
  color: #0a1723;
  line-height: 1;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 12px;
}

@media screen and (min-width: 320px) {
  /* line 157, src/scss/_components/_contacts.scss */
  .contact__col-text p {
    font-size: calc(18px + 12 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 157, src/scss/_components/_contacts.scss */
  .contact__col-text p {
    font-size: 30px;
  }
}

@media screen and (min-width: 320px) {
  /* line 157, src/scss/_components/_contacts.scss */
  .contact__col-text p {
    padding-bottom: calc(12px + 8 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 157, src/scss/_components/_contacts.scss */
  .contact__col-text p {
    padding-bottom: 20px;
  }
}

/* line 165, src/scss/_components/_contacts.scss */
.contact__col-text span {
  color: #d6273c;
  font-weight: 500;
  font-size: 14px;
}

@media screen and (min-width: 320px) {
  /* line 165, src/scss/_components/_contacts.scss */
  .contact__col-text span {
    font-size: calc(14px + 10 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 165, src/scss/_components/_contacts.scss */
  .contact__col-text span {
    font-size: 24px;
  }
}

/* line 173, src/scss/_components/_contacts.scss */
.contact__map {
  position: relative;
  min-height: 379px;
  border-radius: 5px;
  background-color: #e4eaef;
}

/* line 179, src/scss/_components/_contacts.scss */
.contact__map:before {
  z-index: 0;
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 8px solid #e4eaef;
  background-color: #e4eaef;
}

/* line 192, src/scss/_components/_contacts.scss */
.contact__map #map {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 3px solid #8d96ae;
}

/* line 202, src/scss/_components/_contacts.scss */
.contact__map-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 26px;
  padding-top: 16px;
}

@media screen and (min-width: 320px) {
  /* line 202, src/scss/_components/_contacts.scss */
  .contact__map-info {
    padding-top: calc(16px + 10 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 202, src/scss/_components/_contacts.scss */
  .contact__map-info {
    padding-top: 26px;
  }
}

/* line 209, src/scss/_components/_contacts.scss */
.contact__map-info p {
  margin-right: 24px;
  color: #393d47;
  font-weight: 600;
  font-size: 15px;
}

@media screen and (min-width: 320px) {
  /* line 209, src/scss/_components/_contacts.scss */
  .contact__map-info p {
    font-size: calc(15px + 9 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 209, src/scss/_components/_contacts.scss */
  .contact__map-info p {
    font-size: 24px;
  }
}

@media screen and (max-width: 575px) {
  /* line 209, src/scss/_components/_contacts.scss */
  .contact__map-info p {
    margin-right: 0;
  }
}

@media screen and (max-width: 575px) {
  /* line 219, src/scss/_components/_contacts.scss */
  .contact__map-info i {
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
  }
}

/* line 3, src/scss/_components/_notFound.scss */
.notFound {
  overflow: hidden;
  position: relative;
  padding-top: 50px;
  padding-bottom: 100px;
}

@media screen and (min-width: 320px) {
  /* line 3, src/scss/_components/_notFound.scss */
  .notFound {
    padding-top: calc(50px + 97 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 3, src/scss/_components/_notFound.scss */
  .notFound {
    padding-top: 147px;
  }
}

@media screen and (min-width: 320px) {
  /* line 3, src/scss/_components/_notFound.scss */
  .notFound {
    padding-bottom: calc(100px + 100 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 3, src/scss/_components/_notFound.scss */
  .notFound {
    padding-bottom: 200px;
  }
}

/* line 9, src/scss/_components/_notFound.scss */
.notFound__bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/img-bg.png");
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: contain;
}

@media screen and (max-width: 1919px) {
  /* line 9, src/scss/_components/_notFound.scss */
  .notFound__bg {
    background-size: cover;
  }
}

@media screen and (max-width: 575px) {
  /* line 9, src/scss/_components/_notFound.scss */
  .notFound__bg {
    background-position: 0 0;
  }
}

/* line 28, src/scss/_components/_notFound.scss */
.notFound .c-grid {
  z-index: 1;
  position: relative;
}

@media screen and (max-width: 575px) {
  /* line 28, src/scss/_components/_notFound.scss */
  .notFound .c-grid {
    padding-left: 25px;
    padding-right: 25px;
  }
}

/* line 37, src/scss/_components/_notFound.scss */
.notFound__wrapper {
  padding-top: 75px;
}

@media screen and (min-width: 320px) {
  /* line 37, src/scss/_components/_notFound.scss */
  .notFound__wrapper {
    padding-top: calc(75px + 21 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 37, src/scss/_components/_notFound.scss */
  .notFound__wrapper {
    padding-top: 96px;
  }
}

/* line 41, src/scss/_components/_notFound.scss */
.notFound__img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* line 48, src/scss/_components/_notFound.scss */
.notFound__img-wrap {
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 18px;
}

@media screen and (min-width: 320px) {
  /* line 48, src/scss/_components/_notFound.scss */
  .notFound__img-wrap {
    padding-bottom: calc(18px + 18 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 48, src/scss/_components/_notFound.scss */
  .notFound__img-wrap {
    padding-bottom: 36px;
  }
}

/* line 55, src/scss/_components/_notFound.scss */
.notFound__message {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

@media screen and (min-width: 320px) {
  /* line 55, src/scss/_components/_notFound.scss */
  .notFound__message {
    font-size: calc(18px + 42 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 55, src/scss/_components/_notFound.scss */
  .notFound__message {
    font-size: 60px;
  }
}

/*# sourceMappingURL=maps/app.css.map */
