// HEADER :: START

header#header.header
  .c-grid
    .header__wrapper
      .header__wrapper-left
        +logotype('header', '', 'img-logo', 'png')

        +hamburgerCustom()

      .header__wrapper-right(mobile-block-js)
        .header__wrapper-title
          p!= "Menu główne"

        +navIconPNG('header', dataObj.navHeader)

// HEADER :: END