---
title: HP Factory - Pedalbox

contentClassName: p-pedalbox
dataPageName: pedalbox
---
extends shared/_layout

block content
  div.body.body--start(class!= contentClassName)

    include ./components/pedalbox/_pedalbox
    include ./components/pedalbox/_details
    include ./components/pedalbox/_installation
    include ./components/pedalbox/_certificates
    include ./components/pedalbox/_reduced
