---
title: HP Factory - PowerControl

contentClassName: p-powercontrol
dataPageName: powercontrol
---
extends shared/_layout

block content
  div.body.body--start(class!= contentClassName)

    //- include ./components/pedalbox/_pedalbox
    //- include ./components/pedalbox/_working
    //- include ./components/pedalbox/_item
    include ./components/pedalbox/_application
    //- include ./components/pedalbox/_details
    //- include ./components/pedalbox/_installation
    include ./components/pedalbox/_certificates
    include ./components/pedalbox/_reduced
