---
title: HP Factory - PowerControl

contentClassName: p-powercontrol
dataPageName: powercontrol
---
extends shared/_layout

block content
  div.body.body--start(class!= contentClassName)

    include ./components/powercontrol/_powercontrol
    include ./components/pedalbox/_details
    include ./components/powercontrol/_save
    include ./components/powercontrol/_article
    include ./components/powercontrol/_assembly
    include ./components/powercontrol/_period
    include ./components/pedalbox/_item
    include ./components/pedalbox/_application
    include ./components/powercontrol/_generation
    include ./components/powercontrol/_wiring
    include ./components/powercontrol/_created
    include ./components/powercontrol/_control
    include ./components/powercontrol/_types
    include ./components/powercontrol/_order
    include ./components/pedalbox/_certificates
    include ./components/pedalbox/_reduced
