// SECTION BASKET :: START

.basket {
  .c-grid {
    @include respond(max-small) {
      padding-left: 15px;
      padding-right: 15px;
    }

    &-fluid {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__wrapper {
    z-index: 1;
    position: relative;
    @include respond(max-small) {
      padding-top: 30px;
    }
  }

  &__row {
    padding-bottom: 253px;
    @include respond(max-small) {
      padding-bottom: 125px;
    }
    @include respond(max-extra-small) {
      padding-bottom: 55px;
    }

    &--tabs {
      padding-bottom: 30px;
      @include respond(max-small) {
        display: none;
      }
    }

    &--link {
      display: none;
      @include respond(max-small) {
        display: block;
        padding-top: 30px;
        padding-bottom: 15px;
      }

      .basket__link {
        display: none;
        @include respond(max-small) {
          display: block;
        }
      }
    }

    &--result {
      @include respond(max-small) {
        display: none;
      }
    }
  }

  &__btn {
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 2em;
    border: 2px solid #d72d42;
    background-color: #d72d42;
    color: $c-white;
    font-weight: 500;
    @include fluid(height, 320px, 1440px, 50px, 68px);
    @include fluid(font-size, 320px, 1440px, 18px, 24px);
    @include transition(border, background-color, color);

    .basket__row--message & {
      margin-left: auto;
      margin-right: auto;
      @include fluid(max-width, 320px, 1440px, 290px, 352px);
    }

    .basket__row--data &,
    .basket__row--delivery &,
    .basket__row--card &,
    .basket__row--result & {
      max-width: 270px;
      margin-left: auto;
      margin-right: auto;
    }

    &:hover {
      background-color: transparent;
      color: #d72d42;
      @include transition(border, background-color, color);
    }

    &:active {
      border-color: #0a1723;
      background-color: #0a1723;
      color: $c-white;
      @include transition(border, background-color, color);
    }
  }

  &__link {
    color: #8d96ae;
    font-weight: 500;
    @include fluid(font-size, 320px, 1440px, 14px, 24px);
  }

  &__tabs {
    @include fluid(padding-top, 320px, 1920px, 31px, 96px);
    @include respond(max-small) {
      display: none;
    }

    &-list {
      display: flex;
      align-items: center;
    }

    &-item {
      &:last-of-type {
        .basket__tabs-link {
          margin-right: 0;
        }
      }
    }

    &-link {
      display: flex;
      align-items: center;
      color: #8d96ae;
      font-size: 18px;
      font-weight: 500;
      @include fluid(margin-right, 320px, 1440px, 15px, 27px);
      @include fluid(font-size, 320px, 1440px, 14px, 24px);
      @include transition(color);

      &.is-active {
        color: #0a1723;
        font-size: 30px;
        font-weight: bold;
        @include fluid(font-size, 320px, 1440px, 24px, 36px);
        @include transition(color);
      }
    }
  }

  &__card {
    &-col {
      &-0 {
        @include fluid(padding-top padding-bottom, 320px, 1440px, 24px, 38px);
        border-top: 1px solid #cdd7df;
      }
      &-1 {
        border-top: 4px solid #d72d42;
        border-bottom: 4px solid #d72d42;
      }
      &-2 {}
      &-3 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 38px;
        border-top: 1px solid #cdd7df;
        @include respond(max-small) {
          display: none;
        }
      }
    }
  }

  &__data {
    &-col {
      &--0 {
        padding-top: 98px;
        border-top: 1px solid #cdd7df;
        @include respond(max-small) {
          padding-top: 49px;
          border-bottom: 1px solid #cdd7df;
        }
      }

      &--1 {
        padding-top: 38px;
        border-top: 1px solid #cdd7df;
        @include respond(max-small) {
          display: none;
        }
      }
    }

    &-cover {
      width: 100%;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;

      &--wm {
        .c-form__checkbox-wrapper {
          margin-bottom: 0;
        }
      }
    }
  }

  &__delivery {
    &-col {
      &--0 {
        display: flex;
        justify-content: flex-start;
        padding-top: 65px;
        padding-bottom: 35px;
        border-top: 1px solid #cdd7df;
        @include respond(max-large) {
          flex-direction: column;
          padding-bottom: 0;
          padding-top: 35px;
        }
      }

      &--1 {
        padding-top: 65px;
        padding-bottom: 35px;
        border-top: 1px solid #cdd7df;
        @include respond(max-small) {
          padding-bottom: 0;
          padding-top: 35px;
        }
      }

      &--2 {
        padding-top: 38px;
        border-top: 1px solid #cdd7df;
        @include respond(max-small) {
          display: none;
        }
      }

      &--3 {
        display: none;
        @include respond(max-small) {
          display: block;

          .basket__price-left {
            display: none;
          }

          .basket__price-right {
            display: flex;
          }

          .basket__price-info {
            position: static;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            &--perc {
              font-size: 14px;
            }
            &--old {
              font-size: 16px;
            }
          }

          .basket__price-sum {
            font-size: 16px;

            &:nth-of-type(1) {
              margin-right: auto;
            }

            span {
              font-size: 30px;
            }
          }
        }
      }

      &--4 {
        display: none;
        @include respond(max-small) {
          display: block;

         .basket__btn {
           max-width: 290px;
         }
        }
      }
    }

    &-cover {
      &--0 {
        position: relative;
        width: 100%;
        max-width: calc((179px * 3) + (34px * 2));
        margin-right: 60px;
        @include respond(max-large) {
          max-width: 100%;
          padding-bottom: 35px;
          margin-bottom: 35px;
          margin-right: 0;
          border-bottom: 1px solid #cdd7df;
        }

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -60px;
          width: 1px;
          height: 151px;
          background-color: #cdd7df;
          @include respond(max-large) {
            display: none;
          }
        }
      }
      &--1 {
        width: 100%;
        max-width: calc((179px * 2) + 34px);
        margin-left: 60px;
        @include respond(max-large) {
          max-width: 100%;
          padding-bottom: 35px;
          margin-left: 0;
        }
      }
    }

    &-title {
      padding-bottom: 26px;
      color: #222e39;
      font-weight: 500;
      @include fluid(font-size, 320px, 1440px, 20px, 24px);
    }

    &-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      max-width: 179px;
      margin-right: 34px;
      text-align: center;
      @include respond(max-extra-small) {
        max-width: calc(50% - 10px);
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 35px;
      }

      &:last-of-type {
        margin-right: 0;
        @include respond(max-extra-small) {
          margin-bottom: 0;
        }
      }

      &--card,
      &--money {
        > div {
          img {
            opacity: 0.65;
          }
        }
      }

      &.is-active {
        > div {
          border-color: #0a1723;
          @include transition(border-color);

          img {
            opacity: 1;
            filter: grayscale(0);
            @include transition(opacity, filter);
          }

          &:after {
            background-color: #8d96ae;
            @include transition(background-color);
          }
        }
      }

      &-wrapper {
        display: flex;
        @include respond(max-extra-small) {
          flex-wrap: wrap;
          align-items: flex-start;
          justify-content: space-between;
        }
      }

      > div {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        min-height: 111px;
        border-radius: 5px;
        border: 3px solid #8d96ae;
        background-color: $c-white;
        @include transition(border-color);

        img {
          display: block;
          max-width: 100%;
          height: auto;
          filter: grayscale(100%);
          @include transition(opacity, filter);
        }

        &:after {
          content: '';
          z-index: -1;
          position: absolute;
          top: 9px;
          left: -3px;
          width: calc(100% + 6px);
          height: 100%;
          border-radius: 5px;
          background-color: #e4eaef;
          @include transition(background-color);
        }
      }

      p,
      span {
        line-height: 1;
      }

      p {
        padding-top: 28px;
        padding-bottom: 16px;
        color: #8d96ae;
        font-size: 18px;
        font-weight: 500;
      }

      span {
        color: #0a1723;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  &__result {
    @include respond(max-small) {
      display: none;
    }

    .basket__product-right {
      > div {
        &:last-of-type {
          justify-content: flex-end;
        }
      }
    }

    &-wrapper {
      display: flex;
      align-items: flex-start;
      padding-top: 66px;
      padding-bottom: 27px;
      border-top: 1px solid #cdd7df;
    }

    &-left,
    &-middle,
    &-right {
      min-height: 260px;
    }

    &-left {
      width: 25%;
    }

    &-left,
    &-middle {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 1px;
        height: 151px;
        background-color: #cdd7df;
        @include respond(max-medium) {
          display: none;
        }
      }
    }

    &-middle,
    &-right {
      width: calc((100% - 25%) / 2);

      .basket__result-title {
        text-align: center;
      }

      .basket__delivery-box {
        margin-left: auto;
        margin-right: auto;

        > div {
          img {
            filter: grayscale(0);
          }
        }
      }
    }

    &-title {
      min-height: 68px;
      color: #222e39;
      font-size: 24px;
      font-weight: 500;
    }

    &-address {
      padding-left: 15px;

      > p {
        padding-bottom: 30px;

        span {
          display: block;
          color: #a3aabd;
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
  }

  &__message {
    padding-top: 182px;
    border-top: 1px solid #cdd7df;
    text-align: center;
    @include respond(max-small) {
      padding-top: 125px;
      border-top: none;
    }
    @include respond(max-extra-small) {
      padding-top: 55px;
    }

    &-title {
      padding-bottom: 45px;
      color: #d72d42;
      font-weight: 500;
      @include fluid(font-size, 320px, 1440px, 18px, 36px);
      @include respond(max-small) {
        padding-bottom: 25px;
      }
    }

    &-text {
      padding-bottom: 50px;
      @include fluid(font-size, 320px, 1440px, 12px, 20px);
      @include respond(max-small) {
        padding-bottom: 30px;
      }
    }
  }

  &__price {
    display: flex;
    align-items: center;
    border-top: 1px solid #cdd7df;
    @include fluid(padding-top padding-bottom, 320px, 1440px, 19px, 55px);

    &-left,
    &-right {
      width: 50%;
      @include respond(max-small) {
        width: 100%;
        padding-bottom: 19px;
        border-bottom: 1px solid #cdd7df;
      }
    }

    &-left {
      display: flex;
      align-items: center;
    }

    &-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      @include respond(max-small) {
        display: none;
      }
    }

    &-desc {
      color: #4f6a7a;
      font-weight: 500;
      @include fluid(font-size, 320px, 1440px, 14px, 24px);
    }

    &-link {
      margin-left: 26px;
      color: #d6273c;
      text-decoration: underline;
      font-size: 16px;
      font-weight: 600;
      @include fluid(font-size, 320px, 1440px, 14px, 16px);
    }

    &-info {
      position: absolute;
      right: 0;
      top: -30px;
      display: flex;
      align-items: center;

      &--perc {
        color: #d6273c;
      }

      &--old {
        padding-left: 26px;
        color: #8d96ae;
        text-decoration: line-through;
      }

      span {
        font-size: 24px;
        font-weight: 500;
      }
    }

    &-sum {
      color: #4f6a7a;
      font-size: 18px;
      font-weight: 500;

      span {
        padding-left: 26px;
        color: #0a1723;
        line-height: 1;
        font-size: 48px;
        font-weight: bold;
      }
    }
  }

  &__product {
    display: flex;
    align-items: center;
    padding-bottom: 38px;
    @include respond(max-small) {
      align-items: flex-start;
      flex-direction: column;
    }

    &:last-of-type {
      padding-bottom: 0;
    }

    &-left {
      width: 282px;
      padding-right: 15px;
      @include respond(max-small) {
        width: 100%;
        padding-bottom: 38px;
      }

      img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &-right {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: calc(100% - 282px);
      @include respond(max-small) {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        max-width: 100%;
        padding-right: 50px;
      }

      > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include respond(max-small) {
          width: 100%;
        }

        &:first-of-type {
          width: 60%;
          @include respond(max-medium) {
            width: 50%;
          }
        }

        &:last-of-type {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 40%;
          @include respond(max-medium) {
            width: 50%;
          }
        }
      }
    }

    &-title {
      padding-bottom: 26px;
      color: #222e39;
      font-size: 24px;
      font-weight: 500;
    }

    &-name {
      color: #0a1723;
      font-weight: 500;
      @include fluid(font-size, 320px, 1440px, 24px, 36px);
    }

    &-price {
      color: #99aab3;
      font-weight: 500;
      @include fluid(font-size, 320px, 1440px, 14px, 18px);
      @include respond(max-small) {
        white-space: nowrap;
        display: flex;
        flex-direction: row-reverse;
      }

      span {
        padding-left: 26px;
        color: #0a1723;
        line-height: 1;
        font-weight: bold;
        @include fluid(font-size, 320px, 1440px, 24px, 36px);
        @include respond(max-small) {
          padding-left: 0;
          padding-right: 15px;
        }
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #8d96ae;
      border-radius: 5px;
      color: $c-white;
      text-transform: uppercase;
      font-size: 17px;
      font-weight: bold;
      @include fluid(width height, 320px, 1440px, 32px, 36px);
      @include transition(background-color);
      @include respond(max-small) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }

      &:hover {
        background-color: #D6273C;
        @include transition(background-color);
      }
    }
  }

  &__additional {
    display: flex;
    align-items: center;
    height: 170px;
    padding-top: 25px;
    padding-bottom: 25px;
    @include respond(max-small) {
      align-items: flex-start;
      flex-direction: column;
      min-height: 170px;
      height: auto;
    }

    &-left,
    &-right {
      width: 50%;
      @include respond(max-small) {
        width: 100%;
      }
    }

    &-left {
      @include respond(max-small) {
        text-align: center;
        padding-bottom: 25px;
      }
    }

    &-right {
      display: flex;
      align-items: center;
      height: 100%;
      @include respond(max-small) {
        align-content: flex-start;
        flex-direction: column;
      }
    }

    &-info {
      color: #0a1723;
      font-weight: 500;
      @include fluid(font-size, 320px, 1440px, 20px, 30px);

      span {
        color: #d72d42;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      width: 50%;
      height: 100%;
      @include respond(max-small) {
        width: 100%;
        max-width: 290px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 25px;

        &:last-of-type {
          padding-bottom: 0;
        }
      }

      > div {
        width: 100%;
        height: 100%;

        &:first-of-type {
          position: relative;
          width: 85px;
          height: 100%;

          img {
            @include respond(medium) {
              position: absolute;
              width: 100%;
              height: 100%;
              object-fit: contain;
              object-position: center;
            }
            @include respond(max-small) {
              display: block;
              max-width: 100%;
              height: auto;
            }
          }
        }

        &:last-of-type {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 100%;
          max-width: calc(100% - 85px);
          padding-left: 10px;
        }
      }
    }

    &-title {
      padding-bottom: 10px;
      color: #0a1723;
      font-size: 18px;
      font-weight: 500;
    }

    &-sum {
      color: #99aab3;
      font-size: 14px;

      span {
        color: #0a1723;
        font-size: 24px;
        font-weight: bold;
      }
    }

    &-link {
      color: #d72d42;
      font-size: 14px;
      font-weight: bold;
    }
  }
}

// SECTION BASKET :: END