// INFO :: START

.info {
  &__wrapper {
    padding-top: 55px;
    padding-bottom: 95px;
  }

  &__box {
    cursor: pointer;
    position: relative;
    width: 100%;
    max-width: calc((100% / 3) - 16px);
    @include fluid(min-height, 320px, 1920px, 201px, 286px);
    margin-left: 16px;
    margin-right: 16px;
    @include respond(max-medium) {
      max-width: 456px;
      margin: 0 auto 30px;
    }
    @include respond(max-small) {
      margin: 0 auto 21px;
    }

    &:first-of-type {
      margin-left: 0;
      @include respond(max-medium) {
        margin-left: auto;
      }
    }
    &:last-of-type {
      margin-right: 0;
      @include respond(max-medium) {
        margin-right: auto;
      }
    }
    &:hover {
      .info__box-img {
        img {
          &:last-of-type {
            opacity: 1;
            @include transition(opacity);
          }
        }
      }
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
      @include respond(max-medium) {
        flex-wrap: wrap;
      }
    }

    &-title {
      z-index: 1;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 73px;
      padding-left: 24px;
      @include respond(max-large) {
        padding-left: 18px;
      }
      @include respond(max-small) {
        align-items: center;
        padding-left: 0;
      }

      p,
      span {
        color: #0a1723;
        line-height: 1;
        font-weight: bold;
      }

      p {
        @include fluid(font-size, 320px, 1920px, 30px, 43px);
      }

      span {
        @include fluid(font-size, 320px, 1920px, 18px, 30px);
      }
    }

    &-img {
      z-index: 0;
      position: relative;

      img {
        display: block;
        max-width: 100%;
        height: auto;
        @include respond(max-extra-small) {
          right: 0;
          margin: 0 auto;
        }

        &:last-of-type {
          opacity: 0;
          z-index: 0;
          position: absolute;
          top: 0;
          left: 0;
          @include transition(opacity);
        }
      }
    }
  }
}

// INFO :: END