// INFO :: START

.info {
  z-index: 0;
  position: relative;

  &__wrapper {
    @include fluid(padding-top, 992px, 1920px, 25px, 55px);
    @include fluid(padding-bottom, 992px, 1920px, 50px, 95px);
  }

  &__box {
    cursor: pointer;
    position: relative;
    width: 100%;
    max-width: 456px;
    min-height: 304px;
    padding: 50px 0 13px;
    margin-left: 15px;
    margin-right: 15px;
    @include fluid(min-height, 992px, 1920px, 153px, 304px);
    @include respond(max-medium) {
      max-width: 456px;
      @include fluid(min-height, 992px, 1920px, 170px, 304px);
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
    }

    &:hover {
      .info__box {
        &-title {
          background-color: #0a1723;
          @include transition(background-color);

          p,
          span {
            color: $c-white;
            @include transition(color);
          }
        }
        &-square {
          background-color: #d6273c;
          @include transition(background-color);
        }
      }
    }

    &-wrapper {
      overflow: hidden;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      @include respond(max-medium) {
        flex-wrap: wrap;
      }
    }

    &-title {
      z-index: 2;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      top: 0;
      left: 17px;
      width: 100%;
      max-width: calc(100% - (50px + 17px));
      min-height: 82px;
      background-color: #e9f5ff;
      transform: skewX(-12.3deg);
      @include transition(background-color);

      p,
      span {
        color: #0a1723;
        line-height: 1;
        font-weight: bold;
        transform: skewX(12.3deg);
        @include transition(color);
      }

      p {
        //padding-left: 47px;
        //font-size: 36px;
        @include fluid(padding-left, 320px, 1920px, 20px, 47px);
        @include fluid(font-size, 320px, 1920px, 26px, 36px);
      }

      span {
        //padding-left: 57px;
        //font-size: 24px;
        @include fluid(padding-left, 320px, 1920px, 30px, 57px);
        @include fluid(font-size, 320px, 1920px, 14px, 24px);
      }
    }

    &-image {
      z-index: 1;
      position: relative;

      img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &-square {
      z-index: 0;
      position: absolute;
      bottom: 0;
      right: 37px;
      width: 100%;
      max-width: calc(100% - (40px + 37px));
      min-height: 82px;
      background-color: #f0f5f9;
      transform: skewX(-12.3deg);
      @include transition(background-color);
    }
  }
}

// INFO :: END