// MAIN :: START

.main {
  .c-grid {
    @include respond(max-extra-small) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  select {
    opacity: 0;
  }

  &__wrapper {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: flex-start;
    @include fluid(padding-top, 320px, 1920px, 50px, 105px);
    @include respond(max-medium) {
      align-items: center;
    }
    @include respond(max-small) {
      flex-wrap: wrap;
      padding-top: 15px;
    }

    &-left {
      width: 580px;
      padding-left: 67px;
      @include respond(max-extra-large) {
        padding-left: 0;
      }
      @include respond(max-large) {
        width: 50%;
      }
      @include respond(max-small) {
        z-index: 1;
        position: relative;
        width: 100%;
      }
    }

    &-right {
      width: 100%;
      max-width: calc(100% - 580px);
      padding-left: 15px;
      @include respond(max-large) {
        max-width: 50%;
      }
      @include respond(max-small) {
        position: relative;
        max-width: 100%;
        height: 180px;
      }
      @include respond(max-extra-small) {
        height: 160px;
      }

      img {
        z-index: -1;
        position: relative;
        top: 15px;
        left: 6px;
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        @include respond(max-small) {
          position: absolute;
          top: -15px;
          right: -140px;
          max-height: 100%;
        }
        @include respond(max-extra-small) {
          max-width: 105%;
        }
      }
    }
  }

  &__title,
  &__subtitle {
    white-space: nowrap;
    color: $c-white;
    @include respond(max-large) {
      white-space: normal;
    }
    @include respond(max-small) {
      text-align: center;
    }
  }

  &__title {
    line-height: 1.4;
    font-weight: bold;
    @include fluid(font-size, 320px, 1920px, 24px, 71px);
  }

  &__subtitle {
    padding-bottom: 38px;
    font-weight: 600;
    @include fluid(padding-bottom, 320px, 1920px, 20px, 38px);
    @include fluid(font-size, 320px, 1920px, 16px, 32px);
  }
}

// MAIN :: END