// SECTION BASKET :: START

section.section#basket.basket
  .section__bg.section__bg--light

  .basket__wrapper
    include ./_tabs
    include ./_card
    include ./_data
    include ./_delivery
    include ./_result
    include ./_message

// SECTION BASKET :: END