-
  var basketTabsData = [
    {
      href: "#",
      name: '1. Twoje zamówienie'
    },
    {
      href: "#",
      name: '2. Dane adresowe'
    },
    {
      href: "#",
      name: '3. Dostawa i płatność'
    },
    {
      href: "#",
      name: '4. Podsumowanie'
    }
  ];

.basket__row.basket__row-0.basket__row--tabs
  .basket__tabs
    ul.basket__tabs-list
      each val, idx in basketTabsData
        li.basket__tabs-item
          a.basket__tabs-link(
            href= basketTabsData[idx].href
            class!= (idx === 0) ? "is-active": ""
            title=""
            data-basket-tabs-id= idx
          )!= basketTabsData[idx].name


