// INFO :: START

section#info.info
  .c-grid
    .info__wrapper
      .info__box-wrapper
        a(href="#").info__box.info__box-0
          .info__box-title
            p!= "Podręcenie mocy"
            span!= "na gwarancji"

          .info__box-image
            img(src="./img/img-box-info-0.png" srcset="./img/img-box-info-0@2x.png 2x" alt="" title="")

          .info__box-square

        a(href="#").info__box.info__box-1
          .info__box-title
            p!= "Pedalbox"

          .info__box-image
            img(src="./img/img-box-info-1.png" srcset="./img/img-box-info-1@2x.png 2x" alt="" title="")

          .info__box-square

        a(href="#").info__box.info__box-2
          .info__box-title
            p!= "O nas"

          .info__box-image
            img(src="./img/img-box-info-2.png" srcset="./img/img-box-info-2@2x.png 2x" alt="" title="")

          .info__box-square


// INFO :: END