// SECTION ITEM :: START

.item {
  @include fluid(padding-top, 320px, 1920px, 50px, 200px);
  @include fluid(padding-bottom, 320px, 1920px, 75px, 175px);

  .p-powercontrol & {
    @include fluid(padding-top, 320px, 1920px, 50px, 100px);
  }

  .c-grid {
    @include respond(max-extra-small) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__title {
    padding-left: 65px;
    @include fluid(padding-bottom, 320px, 1920px, 50px, 88px);
    @include fluid(font-size, 320px, 1920px, 24px, 48px);
    @include respond(max-large) {
      padding-left: 0;
    }
    @include respond(max-small) {
      text-align: center;
    }
  }

  &__wrapper {
    .p-powercontrol & {
      display: flex;
      @include respond(max-small) {
        flex-wrap: wrap;
      }
    }
  }

  &__row {
    display: flex;
    align-items: flex-start;
    @include respond(max-small) {
      flex-direction: column;
    }

    .p-powercontrol & {
      flex-direction: column;
      width: 50%;
      @include respond(max-small) {
        width: 100%;
      }
    }

    &-0 {
      @include fluid(padding-bottom, 320px, 1920px, 61px, 174px);
    }

    &-left {
      position: relative;
      width: 450px;
      @include respond(max-large) {
        width: 300px;
      }
      @include respond(max-small) {
        width: 100%;
        margin-bottom: 51px;
      }

      .p-powercontrol & {
        width: 100%;
      }

      .item__mobile {
        @include respond(max-small) {
          display: block;

          > * {
            display: block;
          }
        }
      }

      &:after {
        content: '';
        z-index: -1;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 235px;
        height: 122px;
        background-color: #e4eaef;
        transform: skewX(-15deg);

        .p-powercontrol & {
          max-width: 399px;
        }
      }

      img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &-right {
      width: 100%;
      max-width: calc(100% - 450px);
      @include respond(max-large) {
        max-width: calc(100% - 300px);
      }
      @include respond(max-small) {
        max-width: 100%;
      }

      .p-powercontrol & {
        max-width: 100%;
      }
    }
  }

  &__subtitle {
    line-height: line-height-convert(60, 48);
    font-weight: bold;
    @include fluid(padding-bottom, 320px, 1920px, 30px, 65px);
    @include fluid(font-size, 320px, 1920px, 36px, 48px);
    @include respond(max-small) {
      display: none;
      text-align: center;
    }

    .p-powercontrol & {
      margin-top: 60px;
      text-align: center;
      @include respond(max-small) {
        margin-top: 0;
      }
    }

    span {
      color: #d6273c;
    }
  }

  &__mobile{
    display: none;
    @include respond(max-small) {
      display: block;
    }
  }

  &__image {
    .p-powercontrol & {
      display: flex;
      align-items: flex-end;
      min-height: 273px;
    }
  }

  &__block {
    .product__box-footer {
      padding-bottom: 0;
    }

    ul {
      display: flex;
      flex-wrap: wrap;

      .p-powercontrol & {
        width: 100%;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
      }

      li {
        width: 50%;
        @include respond(max-large) {
          width: 100%;
        }

        .p-powercontrol & {
          width: 100%;
        }

        &.item__block--wm {
          margin-bottom: 0;
          @include respond(max-large) {
            margin-bottom: 51px;
          }

          .p-powercontrol & {
            margin-bottom: 51px;
          }
        }

        &.item__block--plus {
          > div {
            &:first-of-type {
              position: relative;

              &:before {
                content: '+';
                z-index: 0;
                position: absolute;
                top: 0;
                right: 25px;
                color: #d6273c;
                line-height: 1;
                font-size: 20px;
                font-weight: bold;

                .p-powercontrol & {
                  display: none;
                }
              }
            }
          }
        }

        &:first-of-type {
          h3 {
            color: #f98911;
          }
        }

        &:last-of-type {
          @include respond(max-large) {
            margin-bottom: 0;
          }
        }

        > div {
          &:last-of-type {
            padding-right: 15px;
            @include respond(max-large) {
              padding-right: 0;
            }
          }
        }

        h3 {
          @include fluid(font-size, 320px, 1440px, 18px, 24px);
        }

        p,
        span {
          @include fluid(font-size, 320px, 1440px, 14px, 16px);
        }
      }
    }
  }
}

// SECTION ITEM :: END