$sprite: (
  fb: (
    offset-x: -94px,
    offset-y: -38px,
    width: 10px,
    height: 16px,
    total-width: 110px,
    total-height: 87px,
    image: '../img/sprite.png'
  ),
  icon-nav-0: (
    offset-x: -39px,
    offset-y: -53px,
    width: 31px,
    height: 32px,
    total-width: 110px,
    total-height: 87px,
    image: '../img/sprite.png'
  ),
  icon-nav-1: (
    offset-x: 0px,
    offset-y: -53px,
    width: 34px,
    height: 34px,
    total-width: 110px,
    total-height: 87px,
    image: '../img/sprite.png'
  ),
  in: (
    offset-x: -94px,
    offset-y: 0px,
    width: 16px,
    height: 16px,
    total-width: 110px,
    total-height: 87px,
    image: '../img/sprite.png'
  ),
  label-contact: (
    offset-x: 0px,
    offset-y: 0px,
    width: 48px,
    height: 48px,
    total-width: 110px,
    total-height: 87px,
    image: '../img/sprite.png'
  ),
  product-head: (
    offset-x: -53px,
    offset-y: 0px,
    width: 36px,
    height: 36px,
    total-width: 110px,
    total-height: 87px,
    image: '../img/sprite.png'
  ),
  yt: (
    offset-x: -94px,
    offset-y: -21px,
    width: 16px,
    height: 12px,
    total-width: 110px,
    total-height: 87px,
    image: '../img/sprite.png'
  ),
);

@mixin sprite-size($image) {
  background-size: map-get(map-get($sprite, $image), 'total-width') map-get(map-get($sprite, $image), 'total-height');
}
@mixin sprite-width($image) {
  width: map-get(map-get($sprite, $image), 'width');
}
@mixin sprite-height($image) {
  height: map-get(map-get($sprite, $image), 'height');
}
@mixin sprite-position($image) {
  background-position: map-get(map-get($sprite, $image), 'offset-x') map-get(map-get($sprite, $image), 'offset-y');
}
@mixin sprite-image($image) {
  background-image: url(map-get(map-get($sprite, $image), 'image'));
}
@mixin sprite-image-retina($image) {
  $image-path: map-get(map-get($sprite, $image), 'image');
  $image-path-retina: str-slice($image-path, 1, str-index($image-path, '.png') - 1) + '@2x.png';

  background-image: url($image-path-retina);
}
@mixin sprite($image, $size: true) {
  @include sprite-image($image);
  @include sprite-position($image);
  background-repeat: no-repeat;

  @if $size {
    @include sprite-width($image);
    @include sprite-height($image);
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx)
  {
    @include sprite-size($image);
    @include sprite-image-retina($image);
  }
}

.fb:before {
  @include sprite(fb);
}
.icon-nav-0:before {
  @include sprite(icon-nav-0);
}
.icon-nav-1:before {
  @include sprite(icon-nav-1);
}
.in:before {
  @include sprite(in);
}
.label-contact:before {
  @include sprite(label-contact);
}
.product-head:before {
  @include sprite(product-head);
}
.yt:before {
  @include sprite(yt);
}
